{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <fieldset class="module aligned">
      {% for field in form %}
        <div class="form-row">
          {{ field.errors }}
          <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </fieldset>
    <div class="submit-row">
      <input type="submit" class="default" value="Importar CSV">
      <a href="{% url 'admin:ingestion_importedplacerecord_changelist' %}" class="button cancel-link">Volver</a>
    </div>
  </form>
</div>
{% endblock %}
